.Heading{
background-color:green;

}


h1{ color:white;
background-color:green;
text-align: center;
}

h2{ color:white;
background-color:green;
text-align: center;
}

hr{
background-color:green;
}


.HOME{
text-align: center;
text-shadow: 2px 2px black;
font-size: 50px;
p{
color: white}
}

LimerickDroneView{
align: center;
}


.TextBoxes{
display:grid;
grid-template-columns: auto auto;
background-color: green;
padding: 10px;
}

.TextBoxes div{

border: 1px black;
padding: 10px;
font-size: 20px;
text-align: center:
border-style: solid;
}

.Title{
background-color: green;
p{
ont-style: bold;
font-size: 30px;
background-color: white;
border-bottom-style: solid;
border-right-style: solid;
border-color: green;
border-width: 5px;
padding: 10%;
}}

.Text1{
background-color: green;
p{
background-color: white;
border-bottom-style: solid;
border-left-style: solid;
border-color: green;
border-width: 5px;
padding: 10%;
}}

.Text2{
background-color: green;
p{
background-color:white;
border-top-style: solid;
border-right-style: solid;
border-color: green;
border-width: 5px;
padding: 10%;
}}

.Image1{
background-color: green;
img{
<!--background-color:white;
    border-top-style: solid;
    border-left-style: solid;
    border-color: green;
    border-width: 5px;
    padding: 10px;
    If need to add background to images-->
}}

.wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color:white;
  font-weight: bold;
  text-align: center;
}

.wrapper div{
border-style: solid;
border-width: 2px;
border-color: black;
font-size: 20px;

}


.BottomP{
background-color:white;
border-style:solid;
border-color: black;
border-width: 2px;
text-align: center;
}

body {
  background-image: url("LimerickImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1440px 551px;
}

.Copyright{
text-align: center;
background-color: white;}
