.wrapper{
  display: grid;
  grid-template-columns: 4;
  grid-auto-rows: 1;
}
header{
  text-align: center;
  font-family: "Arial",sans-serif;
}
nav {
  display: block;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 15px 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.navbar-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-container li {
  margin: 0 10px;
}

.navbar-container a {
  text-decoration: none;
  color: #333;
  font-size: 40px;
}
