body {
  background-color: white;
  margin: 0;
}

h1 {
  color: black;
  text-align: center;
  font-size: 80px;
}


header {
  text-align: center;
  font-family: "Arial", sans-serif;
  border: 5px solid black;
  border-radius: 0;
  padding: 20px 0; 
  margin: 0;
  width: 100%;  
  box-sizing: border-box;    
}

header h1 {
  margin: 0;
}

p {
  font-family: verdana;
  font-size: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.image-container img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

nav {
  display: block;
}


.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 15px 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.navbar-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-container li {
  margin: 0 10px;
}

.navbar-container a {
  text-decoration: none;
  color: #333;
  font-size: 40px;
}
.gentext {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} 
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
	
