body {
 background-image: url("https://www.limerickleader.ie/resizer/-1/-1/true/2025_06_18/River_Shannon-1750259146777.jpg--.jpg?1750259146834");
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: normal;
    color: white;
  }
  p {
    font-family: sans-serif;
    font-size: 30px;
    text-align:left;
    margin: 12px;
    padding: 12px;
    font-weight: normal;
    color: white;
  }
  img {
    height: 450px;
    width: 650px;
    padding: 23px;
    margin: 23px;
  }
ul {
    list-style-type: none;
    margin: 15px;
    padding: 15px;
  overflow: hidden;

  }

  li {
    float: left;
    font-size: 33px;
    text-align: center;
    font-family: sans-serif;
  }

  li a {
    display:block;
    color: white;
    text-align: center;
    padding: 20px;
  }

  li a:hover {
    background-color: black;
  }
h2 {
  font-family: sans-serif;
  text-align: left;
  margin: 12px;
  padding: 12px;
  font-weight: normal;
  font-size: 30px;
  color: white;
}
.image-wrapper {
  display: flex;
  flex-direction: column;

}
.image-container {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
}}

