body {
  background-color: white;
  margin: 0;
  font-family: Verdana, sans-serif;
}

h1 {
  color: black;
  text-align: center;
  font-size: 80px;
  margin: 0;
}

h2 {
  color: black;
  text-align: center;
  margin: 0;
}

header {
  text-align: center;
  font-family: "Arial", sans-serif;
  border: 5px solid black;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 50px;
  text-align: center;
}

.gentext {
  text-align: center;
  font-size: 35px;
  margin: 0 5em;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 15px 0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.navbar-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-container li {
  margin: 0 10px;
}

.navbar-container a {
  text-decoration: none;
  color: #333;
  font-size: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.column {
  flex: 1 1 45%;
  max-width: 45%;
}

.column img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  display: block;
}

.column.single {
  flex: 1 1 90%;
  max-width: 90%;
}


.row.paragraphs p {
  text-align: center;
  font-size: 24px;
  margin: 15px 10px 30px 10px;;
}

.row.paragraphs .column {
  flex: 1 1 45%;
  max-width: 45%;
}

@media (max-width: 900px) {
  .column {
    flex: 1 1 80%;
    max-width: 80%;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 40px;
  }

  .navbar-container a {
    font-size: 30px;
  }

  .gentext {
    font-size: 28px;
    margin: 0 2em;
  }

  .row.paragraphs p {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 1 1 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 45px;
  }

  p {
    font-size: 30px;
  }

  .navbar-container a {
    font-size: 24px;
  }

  .gentext {
    font-size: 24px;
    margin: 0 1em;
  }

  .row.paragraphs p {
    font-size: 18px;
  }
  