body {
  background-color: darkgreen;
}
  h1 {
    color: black;
    text-align: center;
    background: white;
    font-size: 50px;
  }
  p {
    font-family: sans-serif;
    font-size: 30px;
    text-align:left;
    margin: 7px;
    padding: 50px;
  }
  img {
    height:450px ;
    width:650px ;
    text-align: center;
    margin: 23px;
    display: block;
    float: right;
    padding: 23px;
  }
  title{
    text-align: center;
    color: white;
  }
  text{
    background-color: darkgreen;
    text-align: center;
  }
ul {
    list-style-type: none;
    margin: 15px;
    padding: 8px;
    overflow: hidden;
    background-color: darkgreen;
  text-align: center;
  }

  li {
    float: left;
    font-size: 33px;
    text-align: center;
    font-family: sans-serif;
  }

  li a {
    display:block;
    color: black;
    text-align: center;
    padding: 26px;
    text-decoration: none;
  }

  li a:hover {
    background-color:white;
  }
h2 {
  font-family: sans-serif;
  text-align: left;
  margin: 12px;
}
